body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  /* Header styles */
  
  .header {
    background-color: #1c315e;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Navigation styles */
  .nav {
    background-color: #227c70;
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:hover {
      background-color: rgba(0, 247, 255, 0.58);
      transition: background-color 0.3s ease;
  }


  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
 h1 {
    text-align: center;
    
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #227c70;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #227c70;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1c315e;
}

  /* Footer styles */
.footer {
    background-color: #1c315e;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer-left {
    flex-basis: 40%;
  }
  
  .footer-left h3 {
    color: #fff;
  }
  
  .footer-left h4 {
    color: #fff;
    margin-top: 20px;
  }
  
  .footer-left pre {
    color: #fff;
    font-size: 16px;
    white-space: pre-wrap;
    margin-top: 10px;
  }
  
  .footer-right {
    flex-basis: 40%;
  }
  
  .footer-right h3 {
    color: #fff;
  }
  
  .footer-right h4 {
    color: #fff;
    margin-top: 20px;
  }
  
  .footer-right p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer-bottom {
    margin-top: 30px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #fff;
  }
  
  .footer-links {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  